
#forgot-pass{
    font-size: 80%;
    position: relative;
    top: 20px;
    
}

#forgot-pass a{
    text-decoration: none;
}

#login-title{
    display: inline;
}

.bg-aqua{
    background-color: rgb(221, 245, 252)
}
.border-aqua{
    border:1px solid rgb(221, 245, 252);
}

#login-card {
    border: 1px rgb(221, 245, 252) solid;
}

#main-form-add{
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
}

.bg-light-aqua{
    background-color: #d1ddea !important;
}

.bg-green{
    background: #6f8f52;
}




#status-card{
    
   
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}







